.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
}

.textContainer {
  height: 100vh;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

.middleContainer {
  max-height: 80vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
  padding: 1vmin;
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 55vw;
}

.photoAreaContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 50vw;
}

.text {
  font-size: 1.9vh;
  font-family: "Authentic130";
  color: black;
}
