.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middleContainer {
  max-height: 80vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
  padding: 1vmin;
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 55vw;
}

.photoAreaContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 50vw;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .mainContainer {
    height: 93vh;
    flex-direction: column;
  }
  .textContainer {
    height: auto;
    width: auto;
  }
  .middleContainer {
    width: auto;
    padding: 3vmin;
  }
  .text {
    font-size: 2.5vmin;
  }
  .rightContainer {
    justify-content: center;
    width: 100%;
    overflow: scroll;
  }

  .photoAreaContainer {
    width: 95%;
  }
}
