.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middleContainer {
  max-height: 80vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
  padding: 1vmin;
}

.rightContainer {
  display: flex;
  justify-content: flex-end;

  width: 50vw;
}

.photoAreaContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 50vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;

  width: 90%;
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    /* justify-content: space-around; */
  }
  .textContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .middleContainer {
    width: auto;
    padding: 3vmin;
    /* overflow: scroll; */
    justify-content: space-between;
    order: 3;
  }
  .text {
    font-size: 2.5vmin;
  }
  .rightContainer {
    justify-content: center;
    width: 100%;
    order: 2;
    overflow: scroll;
  }

  .photoAreaContainer {
    width: 95%;
  }
}
