.globalContainer {
  height: calc(
    100vh - env(safe-area-inset-bottom)
  ); /* Utilise env(safe-area-inset-bottom) */
  min-height: calc(
    100vh - env(safe-area-inset-bottom)
  ); /* En cas de dépassement du contenu */
  position: absolute;

  width: 50vw;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  left: 100%;
  transform: translateX(-50vw);

  background-color: #ffe93f;
  z-index: 99;
}

.sumUpContainer {
  display: flex;
  background-color: #ffe93f;
  height: 10vh;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 2px solid black;
  z-index: 4;
}

.totalPayContainer {
  background-color: #ffe93f;
  width: 50vw;
  top: 80vh;
  height: 20vh;
  position: fixed;
  border-top: 2px solid black;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid green; */
}

.bottomRightContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.confirmationContainer {
  gap: 1vmin;
  display: flex;
  padding-left: 1vmin;
}

.deliveryContainer {
  height: 80%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5vmin;
  height: 2.7vmin;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  transition: 0.4s;
  border-radius: 3vh;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 3vh;
  width: 3vh;
  border: 1px solid black;

  background-color: white;
  transition: 0.4s;
  border-radius: 4vw;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(60%);
}

.productContainer {
  display: flex;
  flex-direction: column;

  padding-top: 10vh;
  padding-bottom: 20vh;
  overflow-y: scroll;

  background-color: #ffe93f;
}

.productContainer::-webkit-scrollbar {
  display: none;
}
.anotherContainer {
  height: 100vh;
}

.eachProductContainer {
  display: flex;
  width: 100%;
  /* min-height: 24vmin; */
  /* border: 1px solid red; */
  justify-content: space-between !important;
  align-items: safe;

  border-bottom: 2px solid black;
}

.productInfoContainer {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2vmin;
  padding: 1vmin;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.symbolContainer {
  display: flex;
  gap: 1vmin;

  align-items: flex-end;
}

.symbol {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.crossContainer {
  height: 4vmin;

  padding: 1vmin;
}

.iconContainer {
  height: 3vmin;
}

.cross {
  height: 100%;

  object-fit: cover;
}

.text,
.paymentText,
.confirmText {
  font-family: "Authentic130";
}

.text {
  font-size: 2.5vmin;

  padding: 1vmin;
}

.paymentText {
  font-size: 2.5vmin;

  padding: 2vmin;
}

.confirmText {
  font-size: 1.7vmin;

  color: grey;
}

.tinyText {
  font-size: 1.7vmin;

  font-family: "Authentic90";
  padding-left: 0.1vmin;
  padding-bottom: 0.1vmin;
}

.picContainer {
  height: 23vmin;
  align-self: center;
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .globalContainer {
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    height: 93vh;
  }
  .eachProductContainer {
    height: auto;
    justify-content: flex-start;

    gap: 3vmin;
  }

  .sumUpContainer {
    /* border: 1px solid blue; */
    width: 100vw;
  }
  .text {
    font-size: 5vmin;
    transform: translateX(0);
  }

  .confirmText {
    font-size: 3.5vmin;
    font-family: "Authentic130";
    color: grey;
  }

  .tinyText {
    font-size: 3.5vmin;

    font-family: "Authentic90";
    padding-left: 0.1vmin;
    padding-bottom: 0.1vmin;
  }
  .iconContainer {
    height: 5vmin;
  }
  .crossContainer {
    height: 15vmin;

    padding: 3vmin;
  }
  .totalPayContainer {
    width: 100vw;
    height: auto;
    padding-top: 1vmin;
    top: 84vh;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 11vmin;
    height: 6vmin;
  }

  .switch input {
    display: none;
  }

  input:checked + .slider {
    background-color: black;
  }

  input:checked + .slider:before {
    transform: translateX(70%);
  }
}

.mobileMessageContainer {
  position: absolute;
  z-index: 300;
}

.halo {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.halo2 {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
