.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middleContainer {
  max-height: 80vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7vh;
  padding-top: 12vh;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: 1.9vh;
  font-family: "Authentic130";
  color: black;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
  }
  .textContainer {
    height: auto;
    width: 100vw;
  }
  .middleContainer {
    width: 100vw;
    padding-left: 3vmin;
    padding-top: 12vh;
  }
}
