.globalContainer {
  height: auto;
  width: 47vw;
  background-color: white;
  position: absolute;
  top: 45vh;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  border: 2px solid black;
  padding: 1vh;
}

.textContainer {
  padding: 1vmin;
  height: 100%;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: grey;
}

.descriptionText {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.districtContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validateContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1vmin;
}

.validateText {
  font-size: 1.9vmin;
  font-family: "Authentic130";

  color: black;
  cursor: pointer;
}

/*/// CHECKS ///*/

.switch {
  position: relative;
  display: inline-block;
  width: 5vmin;
  height: 2.7vmin;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  transition: 0.4s;
  border-radius: 3vh;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 3vh;
  width: 3vh;
  border: 1px solid black;

  background-color: white;
  transition: 0.4s;
  border-radius: 4vw;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(60%);
}

/*/// INPUTS ///*/

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin;
}

.signatureInput {
  font-size: 1.9vmin;
  font-family: "Authentic130";

  background-color: white;
  border: 2px solid black;

  height: 1.9vmin;
  width: 20vw;
  overflow: scroll;
}

.signatureInput::-webkit-scrollbar {
  display: none;
}

.signatureInput:focus {
  outline: none;
}

.addressInput {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  background-color: white;
  border: 2px solid black;

  height: auto;
  width: 40vw;
  overflow: scroll;
}

.addressInput::-webkit-scrollbar {
  display: none;
}

.addressInput:focus {
  outline: none;
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .globalContainer {
    top: 0;
    width: 85vw;

    gap: 3vmin;
  }
  .text {
    font-size: 4vmin;
  }

  .cityContainer {
    border: 1px solid grey;
  }
  .districtContainer {
    flex-wrap: wrap;
  }

  .validateContainer {
    border: 1px solid blue;
  }

  .descriptionText {
    font-size: 4vmin;
  }
  .textContainer {
    border: 1px solid red;
  }
  .inputContainer {
    border: 1px solid green;
  }
  .validateText {
    font-size: 4vmin;
  }
  .signatureInput {
    font-size: 4vmin;
    height: auto;
    width: 30vw;
  }
  .addressInput {
    font-size: 4vmin;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 11vmin;
    height: 6vmin;
  }

  .switch input {
    display: none;
  }

  input:checked + .slider {
    background-color: black;
  }

  input:checked + .slider:before {
    transform: translateX(70%);
  }
}
