@font-face {
  font-family: "Authentic130";
  src: local("Authentic130"),
    url("../public/fonts/AUTHENTICSans-130.otf") format("truetype");
}
@font-face {
  font-family: "Authentic90";
  src: local("Authentic90"),
    url("../public/fonts/AUTHENTICSans-90.otf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
