.mainContainer {
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.firstContainer {
  min-height: 100vh;
  min-width: 60vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.presentationContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 100vh;
  min-width: 40vw;
}

.hoveredDescriptionContainer {
  position: fixed;
  left: 15vw;
  top: 8vh;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  height: auto;
  z-index: 4;
}

.hoveredName {
  font-size: 1.7vmin;
  font-family: "Authentic130";
}

.hoveredDescription {
  font-size: 1.7vmin;
  font-family: "Authentic130";
  width: 20vw;
  height: auto;
}

.linkShopContainer {
  width: auto;
}

.linkShop {
  font-size: 1.7vmin;
  font-family: "Authentic130";
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.linkShop:hover {
  color: #ffe93f;
  border-bottom: 2px solid #ffe93f;
}

.acampaContainer {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

.logoContainer {
  position: absolute;
  height: 100vh;
  transform: translateX(3vw);
  top: 7vh;
  left: 3vw;
  z-index: -1;
}

.logo {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

/* MENU */

.burgerContainer {
  z-index: 22;
}

.menuContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 3;
  width: 20vw;
}

.menu {
  display: flex;
  flex-direction: column;

  position: relative;
  padding-top: 11%;
  padding-left: 12%;
}

.flowerContainer {
  height: 127px;
  padding-bottom: 2vmin;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: auto;
  opacity: 0;
}

.title {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  display: inline-block;
  position: relative;
  color: black;
  cursor: pointer;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.2vmin;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}

.title:hover::after {
  width: 100%;
  left: 0;
  bottom: 0.8%;
  cursor: pointer;
}

.cross {
  z-index: 6;
}

/*/// ///*/

.photoContainer {
  min-height: 100vh;
  min-width: 60vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.scrollContainerTop2 {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 8vmin;
  /* border: 1px solid green; */
  padding-right: 3vmin;
}

.scrollContainerBottom2 {
  height: 50%;
  display: flex;
  justify-content: space-around;
  gap: 2vmin;
  max-width: 100%;
  padding-left: 2vmin;
  padding-top: 2vmin;
  /* border: 1px solid red; */
}

.leftPicContainer2 {
  display: flex;
  gap: 2vmin;
}

.pic1Container {
  height: 98%;
  opacity: 1;
  overflow: hidden;
}

.scrollContainer {
  background-color: black;
}

.pic2Container {
  align-self: flex-end;
  padding-right: 6%;
  height: 70%;
  opacity: 1;
  /* border: 1px solid blue; */
}

.pic3Container {
  height: 70%;
  opacity: 1;

  overflow: hidden;
}
.pic4Container {
  height: 70%;
  opacity: 1;
  object-fit: cover;
}

.pic5Container {
  height: 100%;
  object-fit: cover;

  transform: translateY(15%);
}

/*/// ///*/

.acampaBold {
  font-size: 2.3vh;
  font-family: "Authentic130";
}

.acampaRegular {
  font-size: 2.3vh;
  font-family: "Authentic60";
  padding-bottom: 22px;
}

.acampaDescription {
  font-size: 1.9vmin;
  font-family: "Authentic130";
}

.shopSubCategoryContainer {
  padding-left: 6%;
  height: auto;
  display: flex;
  flex-direction: column;
  width: auto;
}

.subcatContainer {
  width: auto;
}

.shopSubCategory {
  font-size: 1.9vmin;
  font-family: "Authentic60";
  width: 100%;
  color: black;
  cursor: pointer;
  display: inline;
  position: relative;
}

.shopSubCategory:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.1vmin;
  border-radius: 4px;
  left: 50%;
  font-family: "Authentic130";
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}

.shopSubCategory:hover::after {
  font-family: "Authentic130";
}

.shopSubCategory:hover::after {
  width: 100%;
  left: 0;
  bottom: 0.8%;
  cursor: pointer;
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .mainContainer {
    height: 900vh;
    flex-direction: column;
    overflow: unset;
    border: 5px solid red;
  }
  .pic1Container {
    overflow: unset;
  }

  .pic3Container {
    overflow: unset;
  }
}

.mobileMainContainer {
  height: 900vh;
  width: 100vw;
  overflow: scroll;
  border: 5px solid red;
}
