.mainContainer {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.firstContainer {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.presentationContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100vh;
  width: 28vw;
}

.acampaContainer {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

.logoContainer {
  position: absolute;
  height: 100vh;
  opacity: 1;
  top: 7vh;
  left: 3vw;
  z-index: -1;
}

.logo {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.titleContainer {
  width: auto;
  opacity: 1;
}

.burgerContainer {
  height: 4%;
  position: fixed;
  padding-top: 15px;
  padding-left: 22px;
}

.menuContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titleBold {
  font-size: 25px;
  font-family: "Authentic130";
  display: inline-block;
  position: relative;

  /*opacity: 0;*/
}

.titleBold:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.titleBold:hover:after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.title {
  font-size: 25px;
  font-family: "Authentic90";
  display: inline-block;
  position: relative;
  color: black;
  cursor: pointer;
  /*opacity: 0;*/
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 1;
  cursor: pointer;
}

.title:hover::after {
  width: 100%;
  left: 0;
  bottom: 3px;
  cursor: pointer;
}

/*/// ///*/

.friseContainer {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
}

.scrollContainerTop {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 8vmin;
}

.pic1Container {
  height: 98%;
  max-width: 100%;
  opacity: 1;
}

.pic2Container {
  align-self: flex-end;

  height: 70%;
  opacity: 1;
}

/*/// ///*/

.scrollContainerBottom {
  height: 50%;
  display: flex;
  justify-content: space-around;
  gap: 2vmin;
  padding: 2%;
}

.leftPicContainer {
  display: flex;
  gap: 2vmin;
}

.pic3Container {
  height: 70%;
  opacity: 1;
  object-fit: cover;
}
.pic4Container {
  height: 70%;
  opacity: 1;
  object-fit: cover;
}

.pic5Container {
  height: 100%;
  object-fit: cover;

  transform: translateY(15%);
}

.acampaBold {
  font-size: 2.3vh;
  font-family: "Authentic130";
}

.acampaRegular {
  font-size: 2.3vh;
  font-family: "Authentic60";
  padding-bottom: 22px;
}

.acampaDescription {
  font-size: 1.9vh;
  font-family: "Authentic130";
}
