.container {
  height: 100%;
  width: 100%;
}

.logoContainer {
  position: absolute;
  height: 110vh;
  opacity: 0;
  transform: translateX(-5px);
  z-index: -1;
}

.logo {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.menu {
  z-index: 9;
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-top: 17px;
}

.titleContainer {
  width: auto;
  opacity: 0;
}

.titleBold {
  font-size: 25px;
  font-family: "Authentic130";
  display: inline-block;
  position: relative;
  color: black;
  /*opacity: 0;*/
}

.titleBold:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.titleBold:hover:after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.title {
  font-size: 25px;
  font-family: "Authentic90";
  display: inline-block;
  position: relative;
  color: black;
  /*opacity: 0;*/
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title:hover::after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.picContainerTop:nth-child(1) {
  height: 98%;
  opacity: 0;
}

.picContainerTop:nth-child(2) {
  align-self: flex-end;
  height: 70%;
  opacity: 0;
}

.pic {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.scrollContainerTop {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  gap: 2vmin;
}

.scrollContainerBottom {
  position: absolute;
  width: 65%;
  height: 50%;
  left: 35%;
  top: 50%;
  display: flex;
  gap: 2vmin;
  overflow: hidden;
}

.picContainerBottom:nth-child(1),
.picContainerBottom:nth-child(2) {
  height: 70%;
  opacity: 0;
  object-fit: cover;
}

.picContainerBottom:nth-child(3) {
  height: 60%;
  opacity: 0;
  padding-left: 50px;
}

.picContainerBottom:nth-child(3) img {
  max-height: 200%;
  width: auto;
  object-fit: cover;
  position: relative;
  top: 70%;
}
