.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middleContainer {
  max-height: 80vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
  padding: 1vh;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.text2 {
  padding-left: 10%;
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.photoContainer {
  width: 50vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}
