.messageContainer {
  background-color: white;
  height: auto;
  width: 48vw;

  border: 2px solid black;

  position: absolute;
  display: flex;

  flex-direction: column;
}

.messageTypeContainer {
  display: flex;
}

.messageInput {
  font-size: 2.5vmin;
  font-family: "Authentic130";
  background-color: white;
  border: 2px solid black;
  margin: 1vmin;
  width: 100%;
  height: 20vh;
  overflow: scroll;
}

.messageInput:nth-child(2) {
  font-size: 2.5vmin;
  font-family: "Authentic130";
  background-color: white;
  border: 2px solid black;
  margin: 1vmin;
  width: 70%;
  height: 75%;
  overflow: scroll;
}

.messageInput::-webkit-scrollbar {
  display: none;
}

.messageInput:focus {
  border: 2px solid black;
  outline: none;
}

.signatureInput {
  font-size: 2.5vmin;
  font-family: "Authentic130";
  background-color: white;
  border: 2px solid black;
  margin: 1vmin;
  height: 4vh;
  overflow: scroll;
}

.signatureInput::-webkit-scrollbar {
  display: none;
}

.signatureInput:focus {
  border: 2px solid black;
  outline: none;
}

.textareaContainer {
  width: 48vw;
  display: flex;

  align-items: flex-end;
  flex-wrap: wrap;
}

.text {
  font-size: 2.5vmin;
  font-family: "Authentic130";
  padding: 1vmin;
}
