.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.menuContainer {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.secondContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vmin;
}

.middleContainer {
  height: 100vh;

  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1vmin;
}

.photoAreaContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 50vw;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;

  height: 46%;

  gap: 2vmin;
}

.singleInputContainer {
  position: relative;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
  height: auto;
}

.text2 {
  padding-left: 10%;
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.text {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.picContainer {
  min-height: 100vh;
  position: relative;
}

.calque1 {
  position: absolute;
  background-color: transparent;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.calque2 {
  min-height: 100vh;
  width: 100%;
  position: absolute;

  display: flex;
}

.previous {
  width: 50%;

  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: url(../public/assets/left.svg), auto;
}

.next {
  width: 50%;
  background-color: yellow;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: transparent;
  cursor: url(../public/assets/right.svg), auto;
}

.form {
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  flex-direction: column;

  gap: 2vmin;
}

.normalInput {
  font-size: 1.7vmin;
  color: black;
  font-family: "Authentic90";
  min-width: 10vw;
  width: 50%;
  background-color: white;
  border: none;
  border-bottom: 2px dashed black;
  resize: none;
}

.required {
  position: absolute;
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 6% 100%, 6% 66%, 0 50%, 6% 34%);
  background-color: black;
  height: 4vmin;
  width: auto;
  padding-left: 2vmin;
  padding-right: 1vmin;
  bottom: 10%;
  left: 56%;
  align-items: center;
  /* transform: translateX(20vmin); */

  display: flex;
  z-index: 99;
}

.normalInput:focus {
  outline: none;
}

.normalInput::-webkit-scrollbar {
  display: none;
}

.messageInput {
  font-size: 1.7vmin;
  color: black;
  font-family: "Authentic90";
  min-width: 10vw;

  width: 50%;
  background-color: white;
  border: none;
  border-bottom: 2px dashed black;
  resize: none;
}

.messageInput:focus {
  outline: none;
}

.messageInput::-webkit-scrollbar {
  display: none;
}

.sendContainer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sendButton {
  background-color: white;
  border: none;

  cursor: pointer;
  font-size: 1.9vmin;
  font-family: "Authentic130";

  text-decoration: none;
}

.indexPhoto {
  padding: 1vmin;
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.sablier {
  width: 70%;
  height: 0.2vh;
  border-radius: 5px;
  margin: 2vmin;
}

.test {
  opacity: 0;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
  .menuContainer {
    width: 100vw;
    height: auto;
  }
  .text {
    font-size: 4vmin;
  }
  .text2 {
    font-size: 4vmin;
  }

  .normalInput {
    font-size: 4vmin;
    width: 94%;
  }
  .messageInput {
    font-size: 4vmin;
    width: 70%;
  }
  .sendButton {
    font-size: 4vmin;
  }
  .middleContainer {
    width: auto;
    height: auto !important;
    padding: 3vmin;
  }
  .photoAreaContainer {
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .picContainer {
    min-height: auto;
    width: 95%;
    position: relative;
  }
  .calque1 {
    min-height: 100%;
  }

  .calque2 {
    min-height: 100%;
  }
  .inputContainer {
    gap: 4vmin;
  }
}
