/*MAIN CONTAINERS */
.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galleryContainer {
  width: 82vw;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.galleryContainer::-webkit-scrollbar {
  display: none;
}

.focusContainer {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 80vw;
}

.propriétésContainer {
  display: flex;
  flex-direction: column;
}

.logoContainer {
  height: 2.5vmin;
}

/*TEXTES / INFOS */

/* Menu */

/* Shop  */

.productName {
  font-size: 1.9vh;
  font-family: "Authentic130";
  color: black;
}

.productPrice {
  font-size: 1.9vh;
  font-family: "Authentic90";
  color: black;
}

/* Focus */

.productFocusContainer {
  display: flex;
  width: 27vw;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-self: flex-end;
  padding: 2vmin;
  gap: 5vmin;
}

.productDescription {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  color: black;
}

.productTitle {
  font-size: 1.7vmin;
  font-family: "Authentic130";
  color: black;
  padding-bottom: 3vh;
}

.textProductContainer {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  /* border: 2px solid red; */
}

.numbersProductContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 80%;
  align-self: center;

  gap: 2vmin;
}

.choiceContainer {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.valueContainer {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.quantityContainer {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.panierContainer {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  align-self: flex-end;
  cursor: pointer;
}

.panierText {
  font-size: 1.9vmin;
  font-family: "Authentic130";
}

/*PHOTOS */

.picContainer {
  height: 100vh;
}

.focusContainer > .productInfoContainer {
  gap: 10vh;
}

/* Panier */

.basketContainer {
  height: 40px;
  position: fixed;
  left: 94%;
  top: 1%;
}

.basket {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  position: relative;
}

.basketCircle {
  font-family: "Authentic90";
  font-size: 16px;
  height: 16px;
}

.basketCircleContainer {
  position: absolute;
  left: 20px;
  background-color: #ffe93f;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: solid 2px;
}

.inputContainer {
  display: flex;
  width: 15vw;
  align-items: flex-end;
  gap: 1vmin;
}

.dateInput {
  font-size: 1.7vmin;
  font-family: "Authentic130";
  background-color: white;
  border: none;

  border-bottom: 2px dashed black;
  width: 4vw;
  height: 1.7vmin;
}

.dateInput::-webkit-scrollbar {
  display: none;
}

.dateInput:focus {
  border: 2px solid black;
  outline: none;
  border: none;
  border-bottom: 2px dashed black;
}

.slash {
  font-size: 1.9vmin;
  font-family: "Authentic130";
}

/* Mobile L*/
@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
  .textContainer {
    width: 100vw;
    height: auto;
  }
  .focusContainer {
    flex-direction: column;
    justify-content: space-between;
    gap: 2vmin;
    height: auto;
    width: 90%;
  }
  .galleryContainer {
    width: 100%;
    justify-content: center;
    overflow: scroll;
  }
  .picContainer {
    height: 50vh;
  }

  .productFocusContainer {
    align-self: center;
    width: 100%;
  }

  .productDescription {
    font-size: 4vmin;
    overflow: scroll;
  }
  .logoContainer {
    height: 6.5vmin;
  }
  .panierText {
    font-size: 4vmin;
  }
}
