/*MAIN CONTAINERS */
.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photoContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.galleryContainer {
  padding-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.focusContainer {
  display: flex;
  height: 100vh;
  width: 70vw;
  gap: 2vmin;
}

/*TEXTES / INFOS */

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-top: 1vh;
}

.titleContainer {
  width: auto;
}

.titleBold {
  font-size: 25px;
  font-family: "Authentic130";
  display: inline-block;
  position: relative;
  color: black;
}

.titleBold:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.titleBold:hover:after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.title {
  font-size: 25px;
  font-family: "Authentic90";
  display: inline-block;
  position: relative;
  color: black;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title:hover::after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.shopSubCategoryContainer {
  padding-left: 8%;
  height: auto;
}

.shopSubCategory {
  font-size: 20px;
  font-family: "Authentic90";
  color: black;
  opacity: 1;
}

/* Shop  */

.productInfoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-self: flex-end;
}

.productName {
  font-size: 17px;
  font-family: "Authentic130";
  color: black;
}

.productPrice {
  font-size: 17px;
  font-family: "Authentic90";
  color: black;
}

/* Focus */

.productDescription {
  font-size: 17px;
  font-family: "Authentic130";
  color: black;
}

.productDescription:nth-child(1) {
  padding-bottom: 5%;
}

.productDescription:nth-child(2) {
  height: auto;
}

.textProductContainer {
  justify-self: center;
}

.numbersProductContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  padding-left: 20%;
  height: 30%;
  gap: 30px;
}

.choiceContainer {
  display: flex;
  width: 50%;

  align-items: center;
  justify-content: space-between;
}

.valueContainer {
  min-width: 30%;
  display: flex;
  justify-content: center;
}

.textPrice {
  font-size: 17px;
  font-family: "Authentic90";
}

.choiceText {
  font-size: 17px;
  font-family: "Authentic130";
}

.symbol {
  font-size: 25px;
  font-family: "Authentic90";
}

.panierText {
  font-size: 20px;
  font-family: "Authentic130";
  align-self: flex-end;
  padding: 1vh;
}

.retourText {
  font-size: 20px;
  font-family: "Authentic130";
  padding-bottom: 1vh;
  padding-left: 1vh;
}

/*PHOTOS */

.picContainer {
  height: 300px;
  padding-top: 1%;

  padding: 1%;
}

.focusContainer > .picContainer {
  height: 100vh;
  padding-top: 0%;
  padding-bottom: 0%;
}

.focusContainer > .productInfoContainer {
  gap: 10vh;
}

/* Panier */

.basketContainer {
  height: 40px;
  position: fixed;
  left: 94%;
  top: 1%;
}

.basket {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  position: relative;
}

.basketCircle {
  font-family: "Authentic130";
}

.basketCircleContainer {
  position: absolute;
  left: 96%;
  background-color: #ffe93f;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  top: 1%;
}
