/*MAIN CONTAINERS */
.mainContainer {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.textContainer {
  height: 100vh;

  min-width: 14vw;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galleryContainer {
  width: 98vw;
  display: flex;
  justify-content: center;
}

.photoContainer {
  height: 100%;
  padding-top: 4vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2vmin;
  padding-left: 2vmin;
  width: 90%;

  overflow-y: scroll;
}

/*@media screen and (max-width: 668px) {
  .photoContainer {
    min-width: calc(100%-2vmin * 3) / 4;
    max-width: calc(100%-2vmin * 3) / 4;
  }
}*/

.photoContainer::-webkit-scrollbar {
  display: none;
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.focusContainer {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 80vw;
  gap: 2vmin;
}

/*TEXTES / INFOS */

/* Menu */

/* Shop  */

.productInfoContainer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.productName {
  font-size: 1.9vh;
  font-family: "Authentic130";
  color: black;
}

.productPrice {
  font-size: 1.9vh;
  font-family: "Authentic90";
  color: black;
}

/* Focus */

.productFocusContainer {
  display: flex;
  width: 40vw;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-self: flex-end;

  /*border: 2px solid green;*/
  padding: 2vmin;
  gap: 5vmin;
}

.productDescription {
  font-size: 1.9vh;
  font-family: "Authentic130";
  color: black;
}

.textProductContainer {
  justify-self: center;

  /*border : 2px solid red;*/
}

.numbersProductContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 80%;
  align-self: flex-end;

  gap: 2vmin;
}

.choiceContainer {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  /*border: 2px solid green;*/
}

.panierContainer {
}

.valueContainer {
  display: flex;
  justify-content: center;
  /*border: 2px solid green;*/
  padding-right: 10px;
  padding-left: 10px;
}

.quantityContainer {
  display: flex;
  align-self: flex-end;
}

.symbol {
  font-size: 25px;
  font-family: "Authentic90";
}

.panierContainer {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  align-self: flex-end;
}

.panierText {
  font-size: 1.9vh;
  font-family: "Authentic130";
}

/*PHOTOS */

.picContainer {
  height: 38vh;

  cursor: pointer;
}

.focusContainer > .picContainer {
  height: 100vh;
  padding-top: 0%;
  padding-bottom: 0%;
}

.focusContainer > .productInfoContainer {
  gap: 10vh;
}

/* Panier */

.basketContainer {
  height: 40px;
  position: fixed;
  left: 94%;
  top: 1%;
}

.basket {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  position: relative;
}

.basketCircle {
  font-family: "Authentic90";
  font-size: 16px;
  height: 16px;
}

.basketCircleContainer {
  position: absolute;
  left: 20px;
  background-color: #ffe93f;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: solid 2px;
}
