.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;
  position: relative;
  min-width: 100%;
}

.flowerContainer {
  height: 127px;
  padding-bottom: 2vh;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: auto;
}

.title {
  font-size: 1.9vmin;
  font-family: "Authentic130";
  display: inline-block;
  position: relative;
  color: black;
  cursor: pointer;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title:hover:after {
  width: 100%;
  left: 0;
  bottom: 3px;
}

.shopSubCategoryContainer {
  padding-left: 14%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.shopSubCategory {
  font-size: 1.9vmin;
  font-family: "Authentic60";
  width: auto;
  color: black;
  cursor: pointer;
}

.cartContainer {
  height: 20px;
  position: absolute;
  padding-bottom: 2vh;
  top: 100%;
  transform: translateY(53px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tiret {
  padding-bottom: 4px;
  padding-left: 3px;
  font-size: 1.9vmin;
  font-family: "Authentic60";
}

.basketCircle {
  font-family: "Authentic90";
  font-size: 1.9vmin;
  height: 1.9vmin;
}

.basketCircleContainer {
  position: absolute;
  left: 20px;
  background-color: #ffe93f;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: solid 2px;
}
